:root {
--blue: #85b7cd;
--red: #d42929;
--white: #ffffff;
--green: #90ED9B;
--darkGrey: #707070;
--Grey: #cacaca;
--lightGrey: #f1f1f1;
--sand: #dfc9a9;
--lightPink: #FFCECB;
--darkPink: #F2A7A0;
--shadow: 2px 4px 4px rgba(0, 0, 0, 0.3)
}

body {
    font-family: "Montserrat", 'Segoe UI', Roboto, sans-serif;
    margin: 0;
    text-align: center;
}

h1, h2 {
    color: var(--white);
    font-weight: bold;
}

p {
    font-size: 24px;
    color: var(--white);
}

img {
    width: 100%;
    height: auto;
    border-radius: 2px;
}

.divider {
    display: block;
    height: 1px;
    background-color: var(--darkGrey);
    margin: 6vh 0;
}

.divider2 {
    display: block;
    height: 1px;
    background-color: var(--darkGrey);
    margin: 2vh 0;
}

.dividerWhite {
    display: block;
    height: 1px;
    background-color: var(--white);
    margin: 2vh 0;
}

/* ------------------------------------------------------------ */
/* Header */
/* Left side, with logo */

header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    height: 80px;
    width: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.2);
}

header img {
    height: 50px;
    width: auto;
    float: left;
    padding: 2vh 2vw;
    cursor: pointer;
}

/* Right side, with hamburger menu */

nav li {
    list-style: none;
}

nav a {
    text-decoration: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding: 1rem 1.5rem 1rem 1.5rem;
    float: right;
}


.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

.nav-divider {
    width: 95%;
    margin-left: 1rem;
}

.nav-menu {
    position: fixed;
    right: -100%;
    top: 5rem;
    flex-direction: column;
    background-color: #fff;
    width: 98%;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    padding: 0;
    border: solid 1px var(--darkGrey);
}

.nav-menu.active {
    right: -2.5%;
}

.nav-item {
    margin: 2.5rem 0 2.5rem 1rem;
    text-align: left;
}

.nav-item-active {
    background-color: var(--Grey);
    border-radius: 19px;
    padding: 10px 10px 10px 0;
}

.nav-link {
    color: var(--darkGrey);
    margin-left: 15px;
}

.hamburger {
    display: block;
    cursor: pointer;
    padding-top: 30%;
}

.hamburger.active .bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.hamburger.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
}
/* ------------------------------------------------------------ */
/* Top Box */

.topBox {
    background-image: url("img/Mountains.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.05);
    padding: 32vh 10vw;
}

.topBox h1 {
    font-size: 40px;
    margin-bottom: 1vh;
}

.topBox p {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 4vh;
}

/* ------------------------------------------------------------ */
/* Button */

.buttonDisplay {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
}

.btnType1 {
    padding: 15px 20px;
    margin: 2vh 0;
    min-width: 135px;
    color: var(--darkGrey);
    background-color: var(--white);
    border: none;
    border-radius: 25px;
    box-shadow: var(--shadow);
    font-size: 12px;
    font-weight: bold;
    font-family: "Montserrat", 'Segoe UI', Roboto, sans-serif;
    cursor: pointer;
}

.btnType1:hover {
    transition-duration: 0.3s;
    background-color: var(--lightGrey);
}

.btnType1 i {
    padding: 0;
    margin-left: 5px;
}

.fa-apple {
    transform: scale(1.8);
}

.fa-google-play {
    transform: scale(1.4);
}

/* ------------------------------------------------------------ */
/* Text Section */

.textSection {
    padding: 10vh 10vw;
}

#first{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

#first p {
    color: var(--darkGrey);
}

#about{
    padding: 20vh 10vw 4vh;
}

#about h2, #about p {
    color: var(--darkGrey);
}

#about p {
    font-size: 16px;
}

.splitter {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.desktopShow {
    display: none;
}

.desktopHide {
    display: block;
}

#mission {
    background-image: url("img/Waterfall.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.4);
}

.textSection h2 {
    font-size: 18px;
}

.textSection p {
    text-align: left;
}

/* ------------------------------------------------------------ */
/* Text Section 2 */

.textSection2 {
    padding: 15vh 10vw;
    background-color: var(--white);
    text-align: left;
}

.textSection2 h2 {
    font-size: 24px;
    color: var(--darkGrey);
}

.productSection h2 {
    font-size: 18px
}

.textSection2 h4 {
    color: var(--darkGrey);
}

.textSection2 p {
    font-size: 16px;
    color: var(--darkGrey);
}

.textSection2 a {
    color: var(--darkGrey);
}

/* ------------------------------------------------------------ */
/* Collapsible */

.collapsibleButton {
    display: block;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    cursor: pointer;
    color: var(--white);
    background-color: var(--darkGrey);
    text-align: left;
    font-size: 16px;
    transition: background-color 0.2s;
}

.collapsibleButton:hover {
    background-color: var(--blue);
}

.collapsibleButton::after {
    content: '\002B';
    float: right;
    transform: scale(1.5);
}

.collapsibleButtonActive {
    background-color: var(--blue);
}

.collapsibleButtonActive::after {
    content: "\2212";
}

.collapsibleContent {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.2s;
}

.collapsibleContent p {
    color: var(--darkGrey);
    text-align: left;
}

/* ------------------------------------------------------------ */
/* Instagram Section */

.instagramSection {
    padding: 15vh 10vw;
    background-color: var(--sand);
    color: var(--white);
}

.instagramSection h3 {
    font-size: 34px;
}

.instagramSection p {
    font-size: 12px;
}

.instagramSection a {
    color: var(--white);
}

.instagramSection i:hover {
    color: var(--white);
}

/* .imgDisplay {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
} */

/* ------------------------------------------------------------ */
/* Info Section */

.infoSection {
    color: var(--white);
    background-color: var(--blue);
    padding: 10vh 10vw;
}

.infoSection h2 {
    font-size: 18px;
    margin-bottom: 6vh;
}

.benefits {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    text-align: left;
}

.benefitBox h4 {
    font-size: 24px;
    margin-bottom: 0;
}

.benefitBox p {
    font-size: 16px;
}

/* ------------------------------------------------------------ */
/* Info Section 2 */

.infoSection2 {
    color: var(--white);
    background-color: var(--blue);
    padding: 10vh 10vw;
}

.infoSection2 h2 {
    font-size: 18px;
    margin-bottom: 6vh;
}

.infoBoxes {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10vw;
}

.infoBox h4 {
    font-size: 24px;
}

.infoBox p {
    font-size: 16px;
}

.teamDescription {
    text-align: left;
}

.infoBox img {
    border-radius: 50%;
    width: 50%;
}

/* ------------------------------------------------------------ */
/* Download Section */

.downloadSection {
    padding: 10vh 10vw 12vh;
    color: var(--white);
    background-image: url("img/Forest.png");
    background-position: 50% 80%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.1);
}

.downloadSection h3 {
    font-size: 30px;
}

/* ------------------------------------------------------------ */
/* Footer Section */

footer {
    padding: 4vh 10vw 20vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10vw;
    text-align: left;
    color: var(--darkGrey);
}

footer a {
    text-decoration: none;
    color: var(--darkGrey);
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    margin-bottom: 1vh;
}

footer a:hover {
    text-decoration: underline;
}

footer p {
    color: var(--darkGrey);
    font-size: 12px;
    margin: 0
}

.footerMedia {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 4vw;
    font-size: 5vw;
}

.fa {
    text-align: center;
    text-decoration: none;
    padding-bottom: 2vw;
    margin: 0;
    color: var(--darkGrey);
}

.fa:hover {
    opacity: 0.7;
    text-decoration: none;
}

.fa-facebook:hover {
    color: #3B5998;
}

.fa-linkedin:hover {
    color: #007bb5;
}

.fa-youtube:hover {
    color: #bb0000;
}
  
.fa-instagram:hover {
    color: #125688;
}
  
.fa-pinterest:hover {
    color: #cb2027;
}

.fa-tiktok:hover {
    color: #ff0050;
}

.copyright {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

/* ------------------------------------------------------------ */
/* 404 Container */

.NotFoundContainer {
    margin: 5vh 10vw 0;
    max-height: 100%;
}

.NotFoundContainer h1, .NotFoundContainer p {
    color: var(--darkGrey);
}

.NotFoundContainer h1 {
    font-size: 24px;
}

.NotFoundContainer p {
    font-size: 16px;
}

.NotFoundContainer a {
    text-decoration: none;
    color: var(--darkGrey);
}

/* ------------------------------------------------------------ */
/* Cookie Container */

/* .cookieContainer {
    position: fixed;
    bottom: -100;
    left: 0;
    right: 0;
    color: var(--white);
    background-color: var(--darkGrey);
    padding: 1vh 2vw 2vh;
    transition: 500ms;
    box-shadow: var(--shadow);
    text-align: left;
}

.cookieContainer.active {
    bottom: 0;
}

.cookieContainer p {
    font-size: 2vw;
}

.cookieContainer a {
    color: var(--white);
}

.cookieBtn {
    color: var(--darkGrey);
    background-color: var(--white);
    border: none;
    padding: 4px 10px;
    border-radius: 10%;
    cursor: pointer;
    font-size: 2vw;
} */

/* ------------------------------------------------------------ */
/* Signups */

.signup-head {
    padding: 15vh 5vw 10vh;
    background-image: url("img/Flowerfield.png");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
}

.signup-text {
    color: var(--darkGrey);
    text-align: left;
    font-size: 16px;
}

#app-link {
    font-family: "Montserrat", 'Segoe UI', Roboto, sans-serif;
    font-size: 16px;
    text-align: left;
}

.signup-reference {
    display: none;
}

.signupContainer {
    padding: 5vh 5vw;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.8);
}

.hidden {
    display: none;
}

.shown {
    display: block;
}

#mc_embed_signup input, #mc_embed_signup textarea {
    border: 1px solid #eeeeee;
}

.mce_inline_error {
    background-color: transparent !important;
}

input.mce_inline_error {
    background-color: white !important;
}

#mc_embed_signup form {
    padding: 0;
}

#mc_embed_signup .button {
    background-color: var(--darkGrey);
}

#mc_embed_signup .clear {
    width: 15%;
}

#mc_embed_signup .button:hover {
    background-color: #a1a1a1;
}

#mc-embedded-subscribe {
    font-family: "Montserrat", 'Segoe UI', Roboto, sans-serif;
}

#mce-MMERGE2 {
    min-height: 100px;
}

/* ------------------------------------------------------------ */

@media only screen and (min-width: 768px) {

    p {
        font-size: 26px;
    }

    .dividerWhite {
        display: none;
    }

    .break {
        display: none;
    }

    /* ------------------------------------------------------------ */
    /* Hamburger Menu */
    .nav-menu {
        width: 27vw;
    }


    /* ------------------------------------------------------------ */
    /* Top Box */

    .topBox {
        padding: 35vh 35vw;
        background-position: 50% 70%;
    }

    .topBox h1 {
        font-size: 60px;
    }

    .topBox p {
        font-size: 20px;
    }

    /* ------------------------------------------------------------ */
    /* Button */

    .buttonDisplay {
        grid-gap: 1vw;
    }

    .btnType1 {
        font-size: 16px;
    }

    /* ------------------------------------------------------------ */
    /* Text Section */

    .textSection {
        padding: 30vh 30vw;
    }

    .textSection h2 {
        font-size: 20px;
    }

    #first {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vw;
        padding: 20vh 22vw;
    }

    #first img {
        margin-left: 5vw;
        width: 80%;
    }

    #about{
        padding: 20vh 20vw 10vh;
    }

    .splitter {
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 2vw;
    }

    .desktopShow {
        display: block;
    }

    .desktopHide {
        display: none;
    }

    /* ------------------------------------------------------------ */
    /* Text Section 2 */

    .textSection2 {
        padding: 20vh 25vw;
    }

    .textSection2 h2 {
        font-size: 36px;
    }

    .productSection h2 {
        font-size: 20px;
    }

    .textSection2 p {
        font-size: 16px;
    }

    /* ------------------------------------------------------------ */
    /* Collapsible */

    .collapsibleButton {
        font-size: 1vw;
    }

    /* ------------------------------------------------------------ */
    /* Instagram Section */

    .instagramSection {
        padding: 15vh 30vw;
    }

    .instagramSection h3 {
        font-size: 60px;
    }

    .instagramSection p {
        font-size: 20px;
    }

    /* .imgDisplay {
        padding: 0 20vw 10vh;
        background-color: var(--sand);
        grid-gap: 2vw;
    } */

    /* ------------------------------------------------------------ */
    /* Info Section */

    .infoSection {
        padding: 20vh 20vw;
    }

    .infoSection h2 {
        font-size: 20px;
    }

    .benefits {
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 4vw;
    }

    .benefitBox h4 {
        font-size: 26px;
    }

    .benefitBox p {
        font-size: 18px;
    }

    /* ------------------------------------------------------------ */
    /* Info Section 2 */

    .infoSection2 {
        padding: 10vh 24vw 20vh;
    }

    .infoSection2 h2 {
        font-size: 1vw;
        margin-bottom: 6vh;
    }

    .infoBoxes {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 6vw;
    }

    #teamInfo {
        padding: 15vh 15vw 20vh;
    }

    .infoBox {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: var(--shadow);
        border-radius: 10px;
        padding: 0 2vw;
        min-width: 200px;
        min-height: 450px;
    }

    .infoBox h4 {
        font-size: 2vw;
        color: var(--darkGrey);
    }

    .infoBox p {
        font-size: 1vw;
        color: var(--darkGrey);
    }

    .infoBox img {
        border-radius: 50%;
    }

    /* ------------------------------------------------------------ */
    /* Download Section */

    .downloadSection {
        padding: 30vh 30vw;
        background-position: 50% 70%;
    }

    .downloadSection h3 {
        font-size: 60px;
    }

    .downloadSection .buttonDisplay {
        padding: 0 6vw;
    }

    /* ------------------------------------------------------------ */
    /* Footer Section */

    footer {
        padding: 4vh 24vw 10vh;
        grid-gap: 6vw;
    }

    footer a {
        grid-template-columns: repeat(1, 1fr);
    }

    footer p {
        font-size: 16px;
    }

    .footerMedia {
        grid-template-columns: repeat(6, 1fr);
        grid-gap: 1vw;
        font-size: 2vw;
    }

    .fa {
        padding: 0;
    }

    .copyright {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 0;
    }

    /* ------------------------------------------------------------ */
    /* 404 Container */

    .NotFoundContainer {
        margin: 5vh 30vw;
        max-height: 100%;
    }

    .NotFoundContainer img {
        width: 70%;
    }

    .NotFoundContainer br {
        display: none;
    }

    /* ------------------------------------------------------------ */
    /* Cookie Container */

    /* .cookieContainer {
        position: fixed;
        bottom: -100;
        left: 0;
        right: 0;
        color: var(--white);
        background-color: var(--darkGrey);
        padding: 1vh 2vw 2vh;
        transition: 500ms;
        box-shadow: var(--shadow);
        text-align: left;
    }

    .cookieContainer.active {
        bottom: 0;
    }

    .cookieContainer p {
        font-size: 2vw;
    }

    .cookieContainer a {
        color: var(--white);
    }

    .cookieBtn {
        color: var(--darkGrey);
        background-color: var(--white);
        border: none;
        padding: 4px 10px;
        border-radius: 10%;
        cursor: pointer;
        font-size: 2vw;
    } */

    /* ------------------------------------------------------------ */
    /* Signups */

    .signup-head {
        padding: 15vh 25vw;
    }
}











